
        header li {
            display: inline-block
        }
    h3, p + p{
        color: red;
        padding: 10px
    }
#square {
    height: 100px;
    width: 100px;
    color: red
}
#circle {
    
}