body{
    margin: 0;
}
        header li {
            display: inline-block
        }
    h3, p + p{
        color: red;
        padding: 10px;
    }
#square {
    height: 100px;
    width: 100px;
    color: red
}
#circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: blue;
}
#triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}
#reverse{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid yellow
}
#infinity{
    width: 116px;
    height: 100px;
    background: purple;
    position: relative;
}
#infinity:after{
    /* display: inline; est implicite dans le after ou le before */
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background: coral;
    border: 20px solid red;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 50px; */
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
}

