body{
    margin: 0;
}

html{
    font-size: 30px;
}
div > div:nth-child(odd){
    margin-bottom: 30px;
    background: black;
    color: white;
}
div > div:nth-child(2){
    position: absolute;
    top: 50px;
    left: 30px;
    background: #2277aaee;
}